name: Deploy to Google App Engine

on: release

jobs:
  set-env-vars:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: set env vars
      - run: sed -i -e "s/twitter_api_consumer_key$/$TWITTER_API_CONSUMER_KEY/g" app.yaml
        env:
          TWITTER_API_CONSUMER_KEY: ${{secrets.TWITTER_API_CONSUMER_KEY}}
      - run: sed -i -e "s/twitter_api_consumer_secret$/$TWITTER_API_CONSUMER_SECRET/g" app.yaml
        env:
          TWITTER_API_CONSUMER_SECRET: ${{secrets.TWITTER_API_CONSUMER_SECRET}}
      - run: sed -i -e "s/twitter_api_access_token$/$TWITTER_API_ACCESS_TOKEN/g" app.yaml
        env:
          TWITTER_API_ACCESS_TOKEN: ${{secrets.TWITTER_API_ACCESS_TOKEN}}
      - run: sed -i -e "s/twitter_api_access_token_secret$/$TWITTER_API_ACCESS_TOKEN_SECRET/g" app.yaml
        env:
          TWITTER_API_ACCESS_TOKEN_SECRET: ${{secrets.TWITTER_API_ACCESS_TOKEN_SECRET}}

  deploy:
    needs: set-env-vars
    runs-on: ubuntu-latest

    steps:
      - name: deploy to app engine
      - uses: exelban/gcloud@master
        env:
          PROJECT_ID: ${{secrets.GCLOUD_PROJECT_ID}}
          APPLICATION_CREDENTIALS: ${{secrets.GOOGLE_APPLICATION_CREDENTIALS}}
        with:
          args: app deploy app.yaml cron.yaml
